:root {
  --primary-color: #000;
  --secondary-color: #444;
  --inverted-color: #fff;
  --subdued-color: #808080;
  --primary-bg: #fff;
  --subdued-bg: #F2F2F2;
  --inverted-bg: #000;
  --primary-stroke: #000;
  --subdued-stroke: #d9d9d9;
  --body-font-family: 'Montserrat', sans-serif;
  --serif-font-family: 'Libre Baskerville', serif;
  --radius: 4px;
  --font-size-xl: 2rem;
  --font-size-lg: 1rem;
  --font-size-md: 0.875rem;
  --font-size-sm: 0.75rem;
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 0.75rem;
  --space-lg: 1rem;
  --space-xl: 1.25rem;
  --space-xxl: 2rem;
  --body-max-width: 600px;
}

@media (min-width: 700px) {
  :root {
    --body-max-width: 650px;
    --font-size-xl: 2.25rem;
    --font-size-lg: 1.25rem;
    --font-size-md: 1rem;
    --font-size-sm: .875rem;
  }
}



/* Reset */

html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  display: block;
  max-width: 100%;
}



/* Typography */

body {
  font-family: var(--body-font-family);
  font-weight: 500;
  background: var(--primary-bg);
  color: var(--secondary-color);
  font-size: var(--font-size-md);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  padding: 0;
}

a {
  color: var(--primary-color);
}
a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
  margin: 0 0 var(--space-md);
  line-height: 1.2;
}

h1, h2 {
  font-family: var(--serif-font-family);
}

h1, .h1 { font-size: var(--font-size-xl); }
h2, .h2 { font-size: var(--font-size-lg); }
h3, .h3 { font-size: var(--font-size-md); }
h4, .h4 { font-size: var(--font-size-sm); }
h5, .h5 { font-size: var(--font-size-sm); }
h6, .h6 { font-size: var(--font-size-sm); }

p, ul, ol, blockquote {
  margin: 0 0 var(--space-md);
}

blockquote {
  font-family: var(--serif-font-family);
  font-style: italic;
  font-size: var(--font-size-lg);
  text-align: center;
  color: var(--primary-color);
}

blockquote > * {
  margin: 0;
}

blockquote footer {
  font-size: var(--font-size-sm);
  font-family: var(--body-font-family);
  font-style: normal;
  color: var(--subdued-color);
  margin-top: var(--space-md);
}

.serif {
  font-family: var(--serif-font-family);
}

.lead {
  font-size: var(--font-size-lg);
  font-family: var(--serif-font-family);
  color: var(--primary-color);
}

.attribution, address {
  font-size: var(--font-size-sm);
  color: var(--subdued-color);
}

.center {
  text-align: center;
}

.small {
  font-size: var(--font-size-sm);
}

.subdued {
  color: var(--subdued-color);
}



/* Layout */

main, body >footer {
  max-width: var(--body-max-width);
  margin: 0 auto;
  padding: 0 var(--space-xxl);
}

body > footer {
  display: flex;
  flex-direction: column;
  gap: var(--space-xxl);
}

section {
  margin: 3rem 0;
  padding-bottom: 3rem;
  border-bottom: solid 1px var(--subdued-stroke);
}

section:first-child {
  margin-top: 0;
}

section > *:last-child {
  margin-bottom: 0;
}

.mb-0 { margin-bottom: 0; }
.mb-sm { margin-bottom: var(--space-sm); }
.mb-md { margin-bottom: var(--space-md); }
.mb-lg { margin-bottom: var(--space-lg); }
.mb-xl { margin-bottom: var(--space-xl); }



/* Objects */

.button-row {
  margin-top: var(--space-lg);
  display: flex;
  gap: var(--space-md);
}

.button {
  display: inline-block;
  padding: var(--space-sm) var(--space-lg);
  border: solid 1px var(--primary-stroke);
  border-radius: var(--radius);
  text-decoration: none;
  color: var(--primary-color);
}

.button:hover {
  background: var(--inverted-bg);
  color: var(--inverted-color);
}


.event {
  border: solid 1px var(--subdued-stroke);
  border-radius: var(--radius);
  overflow: hidden;
  margin-bottom: var(--space-lg);
}
.event > header {
  padding: var(--space-md);
}
.event-details {
  padding: var(--space-md);
  font-size: var(--font-size-sm);
}
.event > footer {
  padding: var(--space-md);
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-sm);
  background: var(--subdued-bg)
}

.event address {
  margin-bottom: var(--space-md);
}
.event p, .event h4 {
  margin: 0;
}