:root {
  --primary-color: #000;
  --subdued-color: #808080;
  --primary-bg: #fff;
  --subdued-bg: #F2F2F2;
  --body-font-family: 'Montserrat', sans-serif;
  --heading-font-family: 'Libre Baskerville', serif;
  --radius: 4px;
  --font-size-small: 0.75rem;
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 0.75rem;
  --space-lg: 1rem;
  --space-xl: 1.25rem;
  --space-xxl: 2rem;
  --body-max-width: 600px;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: var(--body-font-family);
  font-weight: 500;
  background: var(--primary-bg);
  color: var(--primary-color);
  font-size: 0.875rem;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  padding: 0;
}

main {
  max-width: var(--body-max-width);
  margin: 2rem auto 0;

}

img {
  display: block;
  width: 100%;
}

a {
  color: inherit  ;
  text-decoration: underline;
}

a:visited {
  color: blueviolet;
}

a:hover {
  text-decoration: none;
  color: blue;
}

h1,h2 {
  font-family: var(--heading-font-family);
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.45;
  margin: 0 0 var(--space-md);
}

h2 {
  font-size: 1rem;
}

h3, h4 {
  font-family: var(--body-font-family);
  font-size: .875rem;
  font-weight: 700;
  line-height: 1.1;
  margin: 0 0 1rem;
}

p, ul, ol, blockquote, address {
  font-size: inherit;
  margin: 0 0 var(--space-lg);
}

.small {
  font-size: 0.75rem;
}

.large {
  font-size: 1rem;
}

.lead {
  font-family: var(--heading-font-family);
  font-size: 1rem;
}

.attribution, address {
  color: var(--subdued-color);
  font-size: 0.75rem;
  font-style: normal;
}

.text-center {
  text-align: center;
}

/* 
  objects 
  -------
*/

blockquote {
  margin: 0 0 var(--space-xl);
  text-align: center;
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

blockquote > p {
  font-family: var(--heading-font-family);
  font-size: 1rem;
  font-style: italic;
  margin-bottom: var(--space-md);
}

blockquote > p:before {
  content: "“";
}

blockquote > p:after {
  content: "”";
}

blockquote > footer {
  font-size: var(--font-size-small);
  color: var(--subdued-color);
}


.button, .button:visited {
  display: inline-block;
  padding: .5rem 1rem;
  border: solid 1px var(--primary-color);
  color: var(--primary-color);
  text-decoration: none;
  border-radius: var(--radius);
}

.button:hover {
  background-color: var(--subdued-bg);
  color: inherit;
  border-radius: var(--radius);
}


.event {
  border: solid 1px var(--subdued-bg);
  border-radius: var(--radius);
  overflow: hidden;
  margin: 0 0 var(--space-lg);
}
.event header, .event .event-details {
  padding: 1rem;
}
.event header {
  padding-bottom: 0;
}
.event .event-details {
  padding-top: 0;
}
.event .event-details :last-child {
  margin-bottom: 0;
}
.event header h4 {
  margin: 0;
}
.event footer {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--subdued-bg);
}
.event footer p {
  font-size: 0.75rem;
}
.event footer > * {
  margin: 0;
}

.book-cover {
  max-height: 75vh;
  display: flex;
}
.book-cover img {
  max-height: 100%;
  object-fit: contain;
}



/* 
  dividers + structure
  --------------------
*/

section + section:before {
  content: '';
  display: block;
  margin: 2rem 0;
  border: 0;
  border-top: solid 1px var(--subdued-bg);
}

main > section {
  padding: 0 var(--space-xxl);
}

