/* Reset */
body, html {
  margin: 0;
  padding: 0;
}

/* Variables */
:root {
  --heading-font-family: "Rubik Mono One", monospace;
  --body-font-family: "Rubik", sans-serif;
  --accent-font-family: 'Libre Baskerville', serif;
  --color-primary: black;
  --color-secondary: rgba(0,0,0,.8);
  --color-subdued: rgba(0,0,0,.55);
  --canvas-primary: white;
  --type-margin-md: 0 0 1rem;
  --desktop-width: 800px;
}
.inverted {
  --color-primary: white;
  --color-secondary: rgba(255,255,255,.8);
  --color-subdued: rgba(255,255,255,.55);
  --canvas-primary: black;
  background-color: var(--canvas-primary);
  color: var(--color-secondary);
}

/* Type & Margin */
body {
  font-family: var(--body-font-family);
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  color: var(--color-secondary);
  line-height: 1.4;
  font-size: 14px;
}
h1, h2, h3 {
  font-family: var(--heading-font-family);
  color: var(--color-primary);
  margin: var(--type-margin-md);
  font-size: inherit;
}
h4 {
  font-size: inherit;
  line-height: inherit;
  color: var(--color-primary);
  margin: 0;
}
p {
  margin: var(--type-margin-md);
}
blockquote {
  text-align: center;
  display: block;
  margin: 0 0 1.5rem;
}
blockquote p {
  font-family: var(--accent-font-family);
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: .5rem;
}
blockquote footer {
  color: var(--color-subdued);
  font-size: 12px;
}
cite {
  font-style: normal;
}

figure {
  margin: 0;
}
figcaption {
  color: var(--color-subdued);
  font-size: 10px;
}
img {
  display: block;
  max-width: 100%;
}

.center {
  text-align: center;
}


/* Layout */
@media (min-width: 1000px) {
  body {
    padding-left: 500px;
  }
}

/* Main */
main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 80px 4vh;
  min-height: 100vh;
  box-sizing: border-box;
}

/* Sections */
.container {
  margin: 0 auto;
  max-width: 500px;
  box-sizing: border-box;
  width: 100%;
}
.container + .container {
  margin-top: 80px;
}
h2, h3 {
  text-align: center;
}
